{#=====================================================
Home page
- Hero style greeting banner
- List of things passed in as 'things' array
- Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Gymnastics Nelson

{% endblock %}


{% block content %}

<h1>Tasks</h1>


{% if not session.user_admin %}
<article>

    <ul>
        {% for task in tasks %}
        {% if task.signed_up < task.required_amount %}

        <li>
            <a href="/volunteer/{{ task.id }}">


                {% if task.id in user_task_ids %}
                ☑
                {% else %}
                ☐
                {% endif %}
                <a href="/task/{{ task.id }}">


                    <strong>{{ task.name }}</strong>
                </a>
        </li>
        {% endif %}

        {% else %}

        <p>None!</p>



        {% endfor %}
    </ul>

</article>

{% endif %}


{# Only show if the admin is logged in #}
{% if session.user_admin%}

<article>


    <ul>
        {% for task in tasks %}
        {% if task.signed_up < task.required_amount %}
        <li>
            <a href="/admin-task-volunteers/{{ task.id }}"><strong>{{ task.name }}</strong></a>
            <a href="/delete/{{ task.id }}" onclick="return confirm('Really delete?');">Delete</a>
        </li>

        {% endif %}
        {% else %}

        <p>None!</p>
        {% endfor %}

    </ul>

</article>

<h3>Add a New Task...</h3>

<form action="/add" method="POST">

    <input type="text" name="name" placeholder="Name of new thing" required>

    <input type="text" name="description" placeholder="Description" required>

    <input type="integer" name="required_amount" placeholder="Required Amount" required>

    <button>Add the Task</button>

</form>

{% endif %}

{% endblock %}