{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Gymnastics Nelson

{% endblock %}


{% block content %}

    <h1>Tasks</h1>


{% if not session.user_admin%}
    <article>

        <ul>
            {% for task in tasks %}

                <li>
    <a href="/volunteer/{{ task.id }}">


    {% if task.signed_up %}
        X
    {% else %}
        O
    {% endif %}
                    <a href="/task/{{ task.id }}">

                    
                        <strong>{{ task.name }}</strong> 
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

    {% endif %}


    {# Only show if the admin is logged in #}
    {% if session.user_admin%}

   <h1>hello</h1>

    {% endif %}

{% endblock %}