{#=====================================================
  Things page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All Things

{% endblock %}


{% block content %}

    <h1>Things...</h1>


    <article>

        <ul>
            {% for task in tasks %}

                <li>
                    <a href="/personal/{{ task.id }}">
                        <strong>{{ task.name }}</strong> 
                    </a>
                </li>

                    <a href="/volunteer/{{ task.id }}">


    {% if task.signed_up %}
        ☑
    {% else %}
        ☐
    {% endif %}

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


{% endblock %}

