{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Gymnastics Nelson - Single Task

{% endblock %}


{% block content %}

    <h1>A Single Task</h1>


    <article>

        <header>
            <h3>{{ task.name }}</h3>

            <p>sign up:</p>

                        <a href="/volunteer/{{ task.id }}">

                        



    {% if task.signed_up %}
        ☑
    {% else %}
        ☐
    {% endif %}

    </a>
        </header>

            <h4>{{ task.description}}</h4>


    </article>


    <a role="button" class="button" href="/">Back to Thing List</a>

{% endblock %}

