/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/




header {
    background-color: #2677FB;
}

.title {
    color: black;
}

.navigation {
    color: black;
}

.navigation a{
    color: black;
}

.task-list {
    background-color: #2FA9F4;
}

.task-list a{
    color: black;
    
}

.task-list li{
    text-align: center;
}

/* MAIN PAGE -------------------------------------------- */

main {
    background-color: #F8FAFA;
}

/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

