/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/




header {
    background-color: #2677FB;
}

.title {
    color: black;
}

.navigation {
    color: black;
}

.navigation a{
    color: black;
}

.task-list {

    width: fit-content;
    margin: 0 auto;
    align-items: center;
    padding-left: 0;
    
}

.task-list a{
    color: black;
    text-decoration: none;
    
}

.task-list li{
    background-color: #2FA9F4;
    width: fit-content;
    text-align: center;
    margin-bottom: 20px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 15px;
    list-style: none;
}

button {
    background-color: #2FA9F4;
    border-color: #2FA9F4;
}

.button {
    background-color: #2FA9F4;
    border-color: #2FA9F4;
}

/* MAIN PAGE -------------------------------------------- */



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1;
    margin-bottom: 0;  
}

main h1 {
    text-align: center;
}

footer {
    background-color: #2677FB;
    text-align: center;
}

footer p {
    color: black;
}


/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}



/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

